.address-form-container {
    min-width: 60rem;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    background-color: #fff;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top:8%
  }
  
  .address-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 10px;

  }

  .form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #address{
    height: 5rem;
  }
  .form-group select {
    height: 40px;
  }
  
  .form-group textarea {
    height: 30px;
  }
  
  .save-btn, .cancel-btn {
    width: 100px;
    padding: 10px;
    font-size: 14px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-btn {
    background-color: #f00;
    color: #fff;
  }
  
  .cancel-btn {
    background-color: #ccc;
    color: #333;
  }
  
  .cancel-btn:hover {
    background-color: #bbb;
  }
  
  .save-btn:hover {
    background-color: #d00;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .address-form-modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  
  .form-content.blurred {
    filter: blur(5px);
  }